<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
     <%= render :partial => 'layouts/stylesheets' %>
  </head>
  <body>
    <div class = "container" >
      <%= render :partial => 'layouts/header' %>
      <div id = "content" class = "round">
        <%= yield %>
      </div>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
